.bottom-half {
    width: 700px;
    height: 500px;
    background-color: #fff;
    float: left;
    margin-left: 25px;
}

.gray-background {
    width: 750px;
    height: 1050px;
    background-color: lightgray;
}

#header h1 {
    
}
#dog {
    margin-left: 25px;
    margin-top: 25px;
}

.words {
    float: left;
    padding: 70px;
}